recursive-include doc/source *.rst
recursive-include test *.py
recursive-include examples *.py

include doc/Makefile
include doc/source/conf.py
include LICENSE.txt
include MANIFEST.in
include README.rst
include TODO.rst
include test/pylintrc
include test/.coveragerc
